@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600&display=swap");

body {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  background: $body-bg;
  color: $txt-color;
}
